# Week 3 - For Loops (part 2) and Conditionals (part 1)

## The following play critical roles:  

### 1. For Loops - iterating through data.

### 2. Conditional Statements - adding logic to our statements.

## 1. For Loops

### For Loops are your best friend - most used Python expression for journalists:

### Iterate over:
* data stored in a list and run some calculation on each value;
* a list of URLs and visit each site to scrape data;
* data stored in dictionary keys and values and return what you are looking for;

Let's take **For Loops** for test drive:

In [ ]:
## Use this list of CEO salaries from 1985 
ceo_salaries_1985 = [150_000, 201_000, 110_000, 75_000, 92_000, 55_000]

In [ ]:
## Print each salary with in the following format:
## "A CEO earned [some value] in 1985."
for salary in ceo_salaries_1985:
    print(f"A CEO earned ${salary:,} in 1985")

In [ ]:
## Now update each salary to 2019 dollars.
## Print the following info:
## "A CEO's salary of [1985 salary] in 1985 is worth [updated salary] in 2019 dollars."
## The CPI for 1985 is 107.6
## The 2019 CPI is 255.657
## The formula is: updated_salary = (oldSalary/oldCPI) * currentCPI
for salary in ceo_salaries_1985:
    updated_salary = (salary/107.6)*255.657
    print(f"A CEO's salary of ${salary:,} in 1985 is worth ${updated_salary:,.0f} in 2019 dollars.")

## For Loops through multiple but related lists

In [1]:
## You scrape a site and each datapoint is stored in different lists
firstNames = ["Irene", "Ursula", "Elon", "Tim"]
lastNames = ["Rosenfeld", "Burns", "Musk", "Cook"]
titles = ["Chairman and CEO", "Chairman and CEO", "CEO", "CEO"]
companies = ["Kraft Foods", "Xerox", "Tesla", "Apple"]
industries = ["Food and Beverage", "Process and Document Management", "Auto Manufacturing", "Consumer Technology"]

In [2]:
## How do you align each item from the different lists that belong together?
for (fname, lname, rank, co, field) in zip(firstNames, lastNames, titles, companies, industries ):
    print(f"Name: {lname}, {fname} ")
    print(f"Title: {rank}")
    print(f"Company: {co}")
    print(f"Industry: {field}")
    print("\n")

Name: Rosenfeld, Irene
Title: Chairman and CEO
Company: Kraft Foods
Industry: Food and Beverage


Name: Burns, Ursula
Title: Chairman and CEO
Company: Xerox
Industry: Process and Document Management


Name: Musk, Elon
Title: CEO
Company: Tesla
Industry: Auto Manufacturing


Name: Cook, Tim
Title: CEO
Company: Apple
Industry: Consumer Technology

In [3]:
## We don't just want to print the items.
## Let's move into a dictionary called bio_dict and then 
## place in a list of dicts called bio_list.
bio_list = []
for (fname, lname, rank, co, field) in zip(firstNames, lastNames, titles, companies, industries ):
    bio_dict = {"first_name": fname, "last_name": lname, "title": rank, "company": co, "industry": field}
    bio_list.append(bio_dict)
print(bio_list)

[{'first_name': 'Irene', 'last_name': 'Rosenfeld', 'title': 'Chairman and CEO', 'company': 'Kraft Foods', 'industry': 'Food and Beverage'}, {'first_name': 'Ursula', 'last_name': 'Burns', 'title': 'Chairman and CEO', 'company': 'Xerox', 'industry': 'Process and Document Management'}, {'first_name': 'Elon', 'last_name': 'Musk', 'title': 'CEO', 'company': 'Tesla', 'industry': 'Auto Manufacturing'}, {'first_name': 'Tim', 'last_name': 'Cook', 'title': 'CEO', 'company': 'Apple', 'industry': 'Consumer Technology'}]

## For Loops within For Loops
## For Loops through Dictionaries

In [12]:
## You have a list of CEO salaries from 1969.
sals_1969 = [47_000, 65_000, 39_000, 96_000]

In [5]:
## We need the value of these salaries updated for every decade till 2019
## Here are the CPIs for each decade in list of dictionaries from 1969 to 2019.

decades_cpi = [
   {"year": 1979, "cpi": 72.6,},
    {"year": 1989, "cpi": 124}, 
    {"year": 1999, "cpi": 166.6},
    {"year": 2009, "cpi": 214.537},
    {"year": 2019, "cpi": 255.657}
              ]

## Show the contents of this list of dictionaries
decades_cpi

[{'year': 1979, 'cpi': 72.6},
 {'year': 1989, 'cpi': 124},
 {'year': 1999, 'cpi': 166.6},
 {'year': 2009, 'cpi': 214.537},
 {'year': 2019, 'cpi': 255.657}]

In [6]:
## What datatype is decades_cpi
type(decades_cpi)

list

In [7]:
## Check what type of data each list item is within decades_cpi

for item in decades_cpi:
#     print(item)
    print(type(item))

<class 'dict'>
<class 'dict'>
<class 'dict'>
<class 'dict'>
<class 'dict'>

In [8]:
## Print out each value in this format:
## "key --> value"
for period in decades_cpi:
    for key, value in period.items():
        print(f"{key} --> {value}")

year --> 1979
cpi --> 72.6
year --> 1989
cpi --> 124
year --> 1999
cpi --> 166.6
year --> 2009
cpi --> 214.537
year --> 2019
cpi --> 255.657

### The key alternates between the strings "year" and "cpi" in this loop.

### How do we actually target the values for "year" and "cpi" and place them in our calculations?

In [9]:
for period in decades_cpi:
#     print(type(period))
#     print(period)
    that_year = period.get("year")
    old_cpi = period.get("cpi")
    print(f"{that_year} -----> {old_cpi}")

1979 -----> 72.6
1989 -----> 124
1999 -----> 166.6
2009 -----> 214.537
2019 -----> 255.657

## We can now add these variables into our calculations:

In [13]:
## Loop through each salary and update its value for each decade
CPI_1969 = 36.7
for sal in sals_1969:
    for period in decades_cpi:
        cpi = period.get("cpi")
        that_year = period.get("year")
        updated_sal = (sal/CPI_1969) * cpi
        print(f"A salary of ${sal:,} in 1969 is worth ${updated_sal:,.0f} in {that_year}")
    print("*********************************************************")

A salary of $47,000 in 1969 is worth $92,975 in 1979
A salary of $47,000 in 1969 is worth $158,801 in 1989
A salary of $47,000 in 1969 is worth $213,357 in 1999
A salary of $47,000 in 1969 is worth $274,748 in 2009
A salary of $47,000 in 1969 is worth $327,408 in 2019
*********************************************************
A salary of $65,000 in 1969 is worth $128,583 in 1979
A salary of $65,000 in 1969 is worth $219,619 in 1989
A salary of $65,000 in 1969 is worth $295,068 in 1999
A salary of $65,000 in 1969 is worth $379,970 in 2009
A salary of $65,000 in 1969 is worth $452,799 in 2019
*********************************************************
A salary of $39,000 in 1969 is worth $77,150 in 1979
A salary of $39,000 in 1969 is worth $131,771 in 1989
A salary of $39,000 in 1969 is worth $177,041 in 1999
A salary of $39,000 in 1969 is worth $227,982 in 2009
A salary of $39,000 in 1969 is worth $271,679 in 2019
*********************************************************
A salary of $96,000 in 1969 is worth $189,907 in 1979
A salary of $96,000 in 1969 is worth $324,360 in 1989
A salary of $96,000 in 1969 is worth $435,793 in 1999
A salary of $96,000 in 1969 is worth $561,187 in 2009
A salary of $96,000 in 1969 is worth $668,749 in 2019
*********************************************************

## 2. Conditional Statements

In [1]:
## create a list of 10 random numbers anywhere from -100 to 100 
##name the list numbers
import random
numbers = random.sample(range(-100, 100), 10)
numbers

[39, -52, -58, 57, 54, -32, 15, 8, 69, -90]

In [3]:
## create conditional statements that tell us if the last number and the penultimate number
## are positive or negative
## print a sentence that reads:
## "The last number [what is it?] is [positive or negative] while 
## the penultimate number [what is it?] is [negative or positive]."
if numbers[-2] > 0:
    almost_last_status = "positive"
    
else: almost_last_status = "negative"
        
if numbers[-1] > 0:
    last_status = "positive"
else: last_status = "negative"
        
print(f"The last number ({numbers[-1]}) is {last_status} while \
the second to last number({numbers[-2]}) is {almost_last_status}")

The last number (-90) is negative while the second to last number(69) is positive

## Conditionals at work:

<img src="support_files/scraped-etf.PNG" style="width: 50%;">

To produce the chart above, we had to scrape the numbers from text published in articles. The numbers, however, were in string format with words like "million", "billion" and "trillion" describing their magnitude:

<img src="support_files/magnitude.png" style="width: 100%;">

In order to run calculations on them, we had to convert them to floating point numbers.

Take the excerpt list below called big_numbers and convert each item in the list to a floating point number. You will have to use basic math and conditional statements.

In [ ]:
big_numbers = [
    "130.4 million", 
    "67.2 million", 
    "125.4 million", 
    "5.04 million", 
    "1.3 billion", 
    "2.2 trillion", 
    "7.2 million", 
    "3.1 billion"
]
big_numbers